nav{
    display: flex;
    gap: 34px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
li{
    list-style: none;
    padding:23px;
    /* margin-left: 20%; */
    
}
a li{
    color:white
}
a{
    text-decoration: none;
}
*{
    padding: 0;
    margin: 0;
}

.red{
    background-color: red;
    color: white;
}